.no-padding
{
	padding: 0px;
}

.centrado
{
	transform: translate(-50%, -50%);
}

.centrado-especial
{
	transform: translate(-50%, -25%);
}

.centradoX
{
	transform: translateX(-50%); 
}

.centradoY
{
	transform: translateY(-50%); 
}

.margin-top-8-5
{
	margin-top: 8.5%;
}

.margin-top-12
{
	margin-top: 12%;
}

.margin-top-21-5
{
	margin-top: 21.5%;
}

.margin-top-32
{
	margin-top: 32%;
}

.margin-top-45
{
	margin-top: 45%;
}

.margin-top-48
{
	margin-top: 48%;
}

.margin-top-primer-campo
{
	margin-top: 50px;
}

.margin-top-campos
{
	margin-top: 25px;
}

.borde-2px-gris
{
	border: solid 2px #ccc;
}